<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    <!--<link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet"/>
    <link href="../css/mystyles.css" rel="stylesheet"/>
    <!--<script src = "src/main/resources/static/js/scripts.js" />-->
</head>
<body>

<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">

    <div class = "container">
        <p class="navbar-brand">Hair and Nail Salon - User Login</p>

        <a href="/home"><button>Return to Salon Home</button></a>
        <a href="/logout"><button>Logout</button></a>

    </div>
</nav>

<form>
    <br>
    <div class="container">


        <!--place user role here-->


        <p class="appointmentslist"><span>You May want to include user role</span></p><br>
        <p class="appointmentslist">Name :    <span>  your name goes here</span></p><br>
        <!--<input type="text" placeholder="Enter Username" name="username" required>-->
        <p class="appointmentslist">E-Mail : <span>your email goes here</span></p><br>
        <!--<input type="password" placeholder="Enter Password" name="password" required>-->
        <p class="appointmentslist">Phone Number : </p><br>
        <label></label>

        <button type="submit">Update</button>
    </div>
    <br><br>
    <div class="container" id="usercontainer2">
        <textarea rows="10" cols="100" readonly>This is where upcoming appointments will be displayed.</textarea>
    </div>
</form>

</body>
</html>