<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->
    <!--<link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet"/>
    <link href="../css/mystyles.css" rel="stylesheet"/>
    <!--<script src = "src/main/resources/static/js/scripts.js" />-->
</head>
<body>

<nav class = "navbar navbar-expand-lg navbar-dark bg-dark">

    <div class = "container">
        <p class="navbar-brand">Hair and Nail Salon - User Login</p>

        <a href="/home"><button>Return to Salon Home</button></a>
        <a href="/schedule"><button>Schedule Appointment</button></a>
    </div>
</nav>

<form>
    <br>
    <div class="container">


        <!--place user role here-->


        <label><span></span></label>
        <label>Name : </label><br>
        <!--<input type="text" placeholder="Enter Username" name="username" required>-->
        <label>E-Mail : </label><br>
        <!--<input type="password" placeholder="Enter Password" name="password" required>-->
        <label>Phone Number : </label><br>
        <label></label>

        <button type="submit">Login</button>
    </div>
</form>

</body>
</html>